body {
    background-color: #e4e4e4;
    color: #222222;
}

.message {
    position: absolute;
    text-align: center;
    text-shadow: 1px 1px 1px #eeeeee;
    padding: 10px 0 30px 0;
}

.warning-message {
    color: #940900;
}

#fb-root {
    position: absolute;
    height: 40px;
    padding: 0px;
    bottom: 5px;
    left: 25px;
}